{% extends "layout.html" %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename = './Styles/landing.css')}}">
    <div class="quicksearch">
        <div class="head">
            Commonly Searched Items
        </div>
        <div class="searches">

        </div>
    </div>
    
    
    <h1>
        Gem Comparison
    </h1>
    <form action="/categories" method="POST">
        
        <input type="text" autocomplete="off" autofocus placeholder="Enter Search Query Here" required name = "searchquery" id = "searchquery">
        <input type="submit" value="Search">

    </form>

{% endblock body %}